@import "https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap";

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #7d879c;
  --bs-gray-dark: #373f50;
  --bs-gray-100: #f6f9fc;
  --bs-gray-200: #f3f5f9;
  --bs-gray-300: #e3e9ef;
  --bs-gray-400: #dae1e7;
  --bs-gray-500: #aeb4be;
  --bs-gray-600: #7d879c;
  --bs-gray-700: #4b566b;
  --bs-gray-800: #373f50;
  --bs-gray-900: #2b3445;
  --bs-primary: #fe696a;
  --bs-accent: #c57f80;
  --bs-secondary: #f3f5f9;
  --bs-success: #42d697;
  --bs-info: #69b3fe;
  --bs-warning: #fea569;
  --bs-danger: #f34770;
  --bs-light: #fff;
  --bs-dark: #373f50;
  --bs-primary-rgb: 254, 105, 106;
  --bs-accent-rgb: 78, 84, 200;
  --bs-secondary-rgb: 243, 245, 249;
  --bs-success-rgb: 66, 214, 151;
  --bs-info-rgb: 105, 179, 254;
  --bs-warning-rgb: 254, 165, 105;
  --bs-danger-rgb: 243, 71, 112;
  --bs-light-rgb: 255, 255, 255;
  --bs-dark-rgb: 55, 63, 80;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 75, 86, 107;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Rubik", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #4b566b;
  --bs-body-bg: #f6f9fc;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #e3e9ef;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.3125rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.4375rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #fe696a;
  --bs-link-hover-color: #fe3638;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;

  --bs-navbar-color: rgba(0, 0, 0, 0.65);
  --bs-navbar-hover-color: #fe696a;
  --bs-navbar-disabled-color: #e3e9ef;
  --bs-navbar-active-color: #fe8788;

  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-hover-bg: #fe4042;
  --bs-btn-active-bg: #fe4042;
  --bs-btn-hover-border-color: #fe4042;
  --bs-btn-active-border-color: #fe4042;

  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #fe696a;
  --bs-btn-disabled-border-color: #fe696a;
  --bs-btn-disabled-opacity: 0.65;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  font-size: .875rem;
  font-size: 16px
}
[class^=btn-outline-], [class*=" btn-outline-"] {
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #fe696a;
  --bs-btn-border-color: #fe696a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #fe8080;
  --bs-btn-hover-border-color: #fe7879;
  --bs-btn-focus-shadow-rgb: 216, 89, 90;
  --bs-btn-active-color: #ababab;
  --bs-btn-active-bg: #fe8788;
  --bs-btn-active-border-color: #fe7879;
  --bs-btn-active-shadow: unset;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #fe696a;
  --bs-btn-disabled-border-color: #fe696a;
}
.btn-outline-primary {
  --bs-btn-color: #fe696a;
  --bs-btn-border-color: #fe696a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #fe696a;
  --bs-btn-hover-border-color: #fe696a;
  --bs-btn-focus-shadow-rgb: 254, 105, 106;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fe696a;
  --bs-btn-active-border-color: #fe696a;
  --bs-btn-active-shadow: unset;
  --bs-btn-disabled-color: #fe696a;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fe696a;
  --bs-gradient: none;
}
.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-hover-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-bg: transparent;
  --bs-btn-disabled-color: #7d879c;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: 216, 89, 90;
  text-decoration: none;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn-link:hover {
  color: var(--bs-btn-hover-color);
  text-decoration: underline;
}
.btn-link:focus-visible {
  text-decoration: none;
}
.btn-primary.btn-shadow {
  --bs-btn-box-shadow: 0 .5rem 1.125rem -.5rem rgba(254, 105, 106, 0.9);
  box-shadow: var(--bs-btn-box-shadow);
}
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
  box-shadow: none;
}

.box-shadow{
  -webkit-box-shadow: 0 1px 1px rgba(72,78,85,.6);
  box-shadow: 0 1px 1px rgba(72,78,85,.6);
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.box-shadow:hover{
  -webkit-box-shadow: 0 4px 10px rgba(72,78,85,.6);
  box-shadow: 0 4px 10px rgba(72,78,85,.6);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}

.btn.btn-icon {
  width: 40px;
  height: 40px;
  box-shadow: 0 0 5px var(--bs-primary);
  border-radius: 50%;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bs-primary);
  color: #fff;
}
.btn.btn-icon.btn-small {
  width: 30px;
  height: 30px;
}

.btn.btn-icon:hover {
  background: var(--bs-link-hover-color);
}
.btn.btn-icon i {
  margin: 0;
  font-size: 18px;
}


.bi {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

.bi-xs {
  font-size: 1rem;
  margin-right: 0.1rem;
}

.avatar-img {
  margin: -1.2rem 0.8rem -2rem 0.8rem;
  width: 3.3rem;
  height: 3.3rem;
}

.avatar-text {
  line-height: 2.2rem;
  margin: 1rem 0.5rem -2rem 0;
  padding-top: 1rem;
}

.dropdown-item {
  font-size: 0.875rem;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}


.form-control:focus {
  color: #4b566b;
  background-color: #fff;
  border-color: rgba(var(--bs-primary-rgb), 0.35);
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 0.375rem 0.625rem -0.3125rem rgba(var(--bs-primary-rgb), 0.15);
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.625rem 1rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b566b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dae1e7;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.3125rem;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 0%);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #7d879c !important;
}
.fs-xs {
  font-size: 0.75rem !important;
}
.fs-sm {
  font-size: 0.875rem !important;
}
.mr-2{
  margin-right: .5rem!important;
}
.fw-medium {
  font-weight: 500 !important;
}
.fw-semi-bold {
  font-weight: 700 !important;
}
.fw-bold {
  font-weight: 900 !important;
}

.navbar {
  --bs-navbar-color: rgba(0, 0, 0, 0.65);
  --bs-navbar-hover-color: #fe696a;
  --bs-navbar-disabled-color: #e3e9ef;
  --bs-navbar-active-color: #fe8788;
}

.navbar-nav {
  align-items: center;
}
.nav-link-style {
  color: #4b566b;
  text-decoration: none;
}
.active>.nav-link-style,
.nav-link-style.active {
  color: var(--bs-primary);
}

.password-toggle-btn {
  position: absolute;
  top: 50%;
  right: 1.625rem;
  margin-bottom: 0;
  padding: 0.5rem;
  transform: translateY(-50%);
  font-size: 1.0625rem;
  line-height: 1;
  cursor: pointer;
}
.input-group .position-absolute+.form-control, .input-group .position-absolute+.password-toggle .form-control {
  padding-left: 2.5rem;
}
.password-toggle .form-control {
  padding-right: 3rem;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.password-toggle {
  position: relative;
}
.password-toggle-btn .password-toggle-check {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
}
.password-toggle-btn .password-toggle-indicator {
  transition: color .2s ease-in-out;
  color: #7d879c;
  font-style: normal;
  font-family: bootstrap-icons !important;
}
.password-toggle-btn .password-toggle-indicator::before {
  content: "\F341";
}
.password-toggle-btn .password-toggle-check:checked~.password-toggle-indicator::before {
  content: "\F340";
}
.input-group .position-absolute {
  z-index: 6;
}
.width-25{
  width: 25px;
}
.width-110{
  width: 110px;
}
.width-150{
  width: 150px;
}
.top-10 {
  top: 10%;
}
.top-65px {
  top: 65px;
}

.accordion {
  --bs-accordion-btn-color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity));
  --bs-accordion-btn-focus-border-color: var(--bs-accent);
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(254, 105, 106, 0.25);
  --bs-accordion-active-color: var(--bs-primary);
  --bs-accordion-active-bg: #f3f3f3;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.last-item-no-border > div:last-child{
  border-bottom: none!important;
}

.page-content {
  margin-top: 62px;
}
.page-content:not(.container) {
  padding: 15px;
}

.row > .col{
  --bs-gutter-y: 1.5rem;
}

.footer {
  flex-shrink: 0;
}
.bg-darker {
  --bs-bg-opacity: 1;
  background-color: #2b3445 !important;
}
.widget-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget-light .widget-list-link:hover {
  color: #fff;
}
.widget-light .widget-list-link {
  color: rgba(255,255,255,.65);
  text-decoration: none;
}
.widget-list-link:hover {
  color: var(--bs-link-hover-color);
  text-decoration: none;
}
.widget-list-link {
  display: block;
  transition: color .25s ease-in-out;
  color: #4b566b;
  font-size: .875rem;
  font-weight: normal;
}
.border-l-1,
.border-l-2,
.border-l-3,
.border-l-4,
.border-l-5 {
  border-left-style: solid;
}
.border-l-1 {
  border-left-width: 1px;
  --bs-border-width: 1px;
}
.border-l-2 {
  border-left-width: 2px;
  --bs-border-width: 2px;
}
.border-l-3 {
  border-left-width: 3px;
  --bs-border-width: 3px;
}
.border-l-4 {
  border-left-width: 4px;
  --bs-border-width: 4px;
}
.border-l-5 {
  border-left-width: 5px;
  --bs-border-width: 5px;
}
.border-r-1,
.border-r-2,
.border-r-3,
.border-r-4,
.border-r-5 {
  border-right-style: solid;
}
.border-r-1 {
  border-right-width: 1px;
  --bs-border-width: 1px;
}
.border-r-2 {
  border-right-width: 2px;
  --bs-border-width: 2px;
}
.border-r-3 {
  border-right-width: 3px;
  --bs-border-width: 3px;
}
.border-r-4 {
  border-right-width: 4px;
  --bs-border-width: 4px;
}
.border-r-5 {
  border-right-width: 5px;
  --bs-border-width: 5px;
}

.avatar-upload {
  padding: 0.25rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.avatar-upload img{
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: var(--bs-primary);
  --bs-pagination-bg: #fff;
  --bs-pagination-border-width: 1px;
  --bs-pagination-border-color: #dee2e6;
  --bs-pagination-border-radius: 0.375rem;
  --bs-pagination-hover-color: #fe3638;
  --bs-pagination-hover-bg: #e9ecef;
  --bs-pagination-hover-border-color: #dee2e6;
  --bs-pagination-focus-color: var(--bs-link-hover-color);
  --bs-pagination-focus-bg: #e9ecef;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #fe696a;
  --bs-pagination-active-border-color: #fe696a;
}
.dropdown-menu-dark {
  --bs-dropdown-color: #dee2e6;
  --bs-dropdown-bg: #343a40;
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-link-color: #dee2e6;
  --bs-dropdown-link-hover-color: #fff;
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-link-hover-bg: rgba(255, 255, 255, 0.15);
  --bs-dropdown-link-active-color: #fe696a;
  --bs-dropdown-link-active-bg: var(--bs-border-color-translucent);
  --bs-dropdown-link-disabled-color: #adb5bd;
  --bs-dropdown-header-color: #adb5bd;
}

.dropdown-item.active, .dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: var(--bs-dropdown-link-active-bg);
}